.main-body {
    background-color: blue;
    padding: 50px;
  }
  .main-nav{
    background-color: black;
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;
  }
  
  .nav-list{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .logo{
    color: yellow;
    font-size: 20px;
    text-decoration: line-through;
    font-weight: 900;
    padding-right: 15rem;
    
  }

  li{
    list-style-type: none;
    }

  .header-one {
    font-size: 3rem;
  }
  .btn {
    background-color: rgb(235, 28, 28);
    color: rgb(255, 255, 255);
    padding: 5px 25px ;

  }
  .first parent {
       display: flex;
       flex-direction: row;
       padding: 5px;
  }
.girl-image {
  max-width: 500px;
  min-height: 500px;
  border-radius: 50%;
}
  